In [9]:
import pymongo

In [10]:
new_client = pymongo.MongoClient('mongodb://localhost:27017/')

In [11]:
new_db = new_client['new_data']
new_col = new_db["Students"]
list_of_students = [
    { "name": "Alice Johnson", "code": "stu001" },
    { "name": "Bob Smith", "code": "stu002" },
    { "name": "Catherine Davis", "code": "stu003" },
    { "name": "David Brown", "code": "stu004" },
    { "name": "Emma Wilson", "code": "stu005" },
    { "name": "Franklin White", "code": "stu006" }
]
adding_many = new_col.insert_many(list_of_students)

In [12]:
print("Inserted document IDs:", adding_many.inserted_ids)

Inserted document IDs: [ObjectId('67751a8f4c119d1ef04fbbaf'), ObjectId('67751a8f4c119d1ef04fbbb0'), ObjectId('67751a8f4c119d1ef04fbbb1'), ObjectId('67751a8f4c119d1ef04fbbb2'), ObjectId('67751a8f4c119d1ef04fbbb3'), ObjectId('67751a8f4c119d1ef04fbbb4')]

In [14]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017/')

new_db = new_client['new_data']

new_col = new_db['new_students']

list_of_students = [
    { "id": 1, "name": "Alice Johnson", "code": "stu001" },
    { "id": 2, "name": "Bob Smith", "code": "stu002" },
    { "id": 3, "name": "Catherine Davis", "code": "stu003" },
    { "id": 4, "name": "David Brown", "code": "stu004" },
    { "id": 5, "name": "Emma Wilson", "code": "stu005" },
    { "id": 6, "name": "Franklin White", "code": "stu006" }
]


adding_many = new_col.insert_many(list_of_students)

print(adding_many.inserted_ids)

[ObjectId('67751b824c119d1ef04fbbb6'), ObjectId('67751b824c119d1ef04fbbb7'), ObjectId('67751b824c119d1ef04fbbb8'), ObjectId('67751b824c119d1ef04fbbb9'), ObjectId('67751b824c119d1ef04fbbba'), ObjectId('67751b824c119d1ef04fbbbb')]

In [15]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017/')

new_db = new_client['new_data']

new_col = new_db['new_students1']

list_of_students = [
    { "_id": 1, "name": "Alice Johnson", "code": "stu001" },
    { "_id": 2, "name": "Bob Smith", "code": "stu002" },
    { "_id": 3, "name": "Catherine Davis", "code": "stu003" },
    { "_id": 4, "name": "David Brown", "code": "stu004" },
    { "_id": 5, "name": "Emma Wilson", "code": "stu005" },
    { "_id": 6, "name": "Franklin White", "code": "stu006" }
]


adding_many = new_col.insert_many(list_of_students)

print(adding_many.inserted_ids)

[1, 2, 3, 4, 5, 6]

In [19]:
finds = new_col.find_one()
print(finds)

{'_id': 1, 'name': 'Alice Johnson', 'code': 'stu001'}

In [20]:
finding = new_col.find_one({"name": "Emma Wilson"})
print(finding)

{'_id': 5, 'name': 'Emma Wilson', 'code': 'stu005'}

In [22]:
all_students = new_col.find()
for student in all_students:
    print(student)

{'_id': 1, 'name': 'Alice Johnson', 'code': 'stu001'}
{'_id': 2, 'name': 'Bob Smith', 'code': 'stu002'}
{'_id': 3, 'name': 'Catherine Davis', 'code': 'stu003'}
{'_id': 4, 'name': 'David Brown', 'code': 'stu004'}
{'_id': 5, 'name': 'Emma Wilson', 'code': 'stu005'}
{'_id': 6, 'name': 'Franklin White', 'code': 'stu006'}

In [23]:
for docu in new_col.find():
    print(docu)

{'_id': 1, 'name': 'Alice Johnson', 'code': 'stu001'}
{'_id': 2, 'name': 'Bob Smith', 'code': 'stu002'}
{'_id': 3, 'name': 'Catherine Davis', 'code': 'stu003'}
{'_id': 4, 'name': 'David Brown', 'code': 'stu004'}
{'_id': 5, 'name': 'Emma Wilson', 'code': 'stu005'}
{'_id': 6, 'name': 'Franklin White', 'code': 'stu006'}

# Creating a Query

In [24]:
import pymongo

new_client = pymongo.MongoClient('mongodb://localhost:27017/')

new_db = new_client['new_data']

new_col = new_db['new_students']

new_query = { "code": {"$gt": "code"} }

new_doc = new_col.find(new_query)

for x in new_doc:
  print(x)

{'_id': ObjectId('67751b824c119d1ef04fbbb6'), 'id': 1, 'name': 'Alice Johnson', 'code': 'stu001'}
{'_id': ObjectId('67751b824c119d1ef04fbbb7'), 'id': 2, 'name': 'Bob Smith', 'code': 'stu002'}
{'_id': ObjectId('67751b824c119d1ef04fbbb8'), 'id': 3, 'name': 'Catherine Davis', 'code': 'stu003'}
{'_id': ObjectId('67751b824c119d1ef04fbbb9'), 'id': 4, 'name': 'David Brown', 'code': 'stu004'}
{'_id': ObjectId('67751b824c119d1ef04fbbba'), 'id': 5, 'name': 'Emma Wilson', 'code': 'stu005'}
{'_id': ObjectId('67751b824c119d1ef04fbbbb'), 'id': 6, 'name': 'Franklin White', 'code': 'stu006'}